<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список гостей</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class='center'>
            <button id='create' class='knopka' @click='checkMode = false'>Режим создания списка</button>
            <button id='check' class='knopka' @click='checkMode = true'>Режим проверки списка</button>

            <template v-if="!checkMode">

                <h2>Создание списка</h2>
                <button @click="clearGuests">Очистить список</button>
                <p>Запишите гостей в поле:</p>
                <input v-model="inputGuest" @keyup.enter="addGuest" placeholder="Гость. Добавить по Enter">
                <button @click="addGuest">Добавить гостя</button>
                <ul class='list'>
                    <li v-for='(guest, n) in guests'>{{ guest.name }} <button @click='delGuest(n)'>Удалить</button></li>
                </ul>
            </template>
            <template v-else>

                <h2>Проверка списка</h2>
                <table class="simple-little-table" cellspacing='0'>
                    <tr>
                        <th>Гость</th>
                        <th>Управление</th>

                    </tr><!-- Table Header -->

                    <tr v-for='guest in guests'>
                        <td :class='{decor: guest.come}'>{{ guest.name }}</td>
                        <td><button @click='hasComeFunc(guest)'>Пришел</button></td>
                    </tr><!-- Table Row -->


            </template>
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                checkMode: true,
                inputGuest: "",
                guests: [],
                come: false

            },
            mounted() {
                if (localStorage.getItem('guests')) {
                    try {
                        this.guests = JSON.parse(localStorage.getItem('guests'));
                    } catch (e) {
                        localStorage.removeItem('guests');
                    }
                }
            },
            methods: {
                addGuest: function() {
                    if (!this.inputGuest) {
                        return;
                    }
                    this.guests.push({
                        name: this.inputGuest,
                        come: this.come
                    });
                    this.inputGuest = "";
                    this.guests.sort();
                    this.saveGuests();
                },
                delGuest(x) {
                    this.guests.splice(x, 1)
                    this.saveGuests();
                },
                clearGuests() {
                    this.guests = [];
                    this.saveGuests();
                },
                hasComeFunc(guest) {
                    // event.target.parentElement.parentElement.firstChild.style = "text-decoration: line-through;"
                    guest.come = !guest.come;
                    console.log(guest)
                    this.guests.map(function(x) {
                        if (guest.name == x.name) {
                            guest.come = x.come
                        }
                    })
                    this.saveGuests();

                },
                saveGuests() {
                    const parsed = JSON.stringify(this.guests);
                    localStorage.setItem('guests', parsed);
                }


            },
        })
    </script>
</body>

</html>